*.swp
coverage
node_modules
browser/tests.js
docs/api

CONTRIBUTING.html
LICENSE.html
README.html
examples.html
npm-debug.log

apiref
bower_components
report
.DS_Store


bitcore-lib.js
bitcore-lib.min.js
bitcore-lib.js.sig
bitcore-lib.min.js.sig
tests.js
